<div class="container">
  <header>
    <h2>Mindful Meditations</h2>
    <div class="user-welcome">Welcome Mugesh</div>
  </header>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="/user-profile">Profile</a></li>
      <li><a href="/app-poem">Poem</a></li>
    </ul>
  </nav>
  <div class="content">
    <div class="meditation-selector">
      <label for="meditation-time">Select Meditation Time (minutes):</label>
      <select id="meditation-time" name="meditation-time">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="30">30</option>
      </select>
      <button class="start-button" (click)="onStart()">Go</button>
    </div>
  </div>
</div>


<app-footer></app-footer>

